.calendar {
    position: relative;
    flex-direction: column;
    height: calc(100vh - 60px);
    background-color: cornsilk;
    &__header {
        display: flex;
        height: 100px;
        padding-left: 48px;
        background-color: cornsilk;
    }
    &__body {
        display: flex;
        overflow: auto;
    }
    &__week-container {
        display: flex;
        width: 100%;
        height: fit-content;
    }
    &__time-scale {
        height: 100%;
        width: 48px;
    }
    &__week {
        display: flex;
        flex: 1;
    }
    &__day {
        position: relative;
        flex: 1;
        border-left: 1px solid grey;
    }
    &__time-slot {
        height: 59px;
        position: relative;
        border-bottom: 1px solid gray;
    }
    &__day-label {
        flex: 1;
    }
}

.day-label {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &__day-name {
        font-size: 20px;
        text-transform: uppercase;
        color: maroon;
        font-weight: 900;
    }
    &__day-number {
        font-size: 20px;
        font-weight: 800;
    }
}

.red-line {
    z-index: 45;
    display: block;
    position: absolute;
    width: 100%;
    align-items: center;
    background-color: red;
    height: 2px;
}

.red-line::before {
    content: "";
    position: absolute;
    display: block;
    top: -4px;
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}