.header {
    width: 100%;
    position: fixed;
    z-index: 50;
    background-color:cornsilk;
    display: flex;
    flex-direction: column;

}

.header-navigation{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 70px;
    margin: 0px;
    border-bottom: 1px solid #616161;
}

.header-main{
   
    display: flex;
    height: 84px;
    padding-top: 4px;
}

.create-btn{
  width: 120px;
  border-radius: 5px;
  height: 45px;
  margin:  10px;
  background: rgb(162, 214, 221);
  font-size: 20px;
  margin-left: 35px
}

.today-btn{
  width: 120px;
  border-radius: 5px;
  height: 45px;
  margin:  10px;
  background: rgb(162, 214, 221);
  font-size: 20px;
}

.create-btn:hover{
    background-color:cyan;
   
    }
  
.today-btn:hover{
    background-color:cyan;
  
    }

.prev-btn, .next-btn{
    height: 30px;
    border-radius: 5px;
    margin: 10px;
    width: 40px;
}

.prev-btn:hover{
    background-color:lightgoldenrodyellow;
  }

.next-btn:hover{
    background-color:lightgoldenrodyellow;
  }

.text-month{
    margin: 400px;
    font-weight: 700;
    font-size: 40px;
    color:rgb(52, 11, 90); 
    font-family: unset;
    text-shadow: 3px 5px 5px gray;
}

.main-board{
    width: 100%;
    padding-top: 147px;
    display: flex;
    background-color:cornsilk;

}

.header-main__gtm-table{
    display: flex;
}

.header-main__gtm-table__text{
    text-align: center;
    width: 52px;
    margin-top: 47px;
    font-size: 11px;
    color: red;
    line-height: 33px;  
}

.header-main__gtm-separateline{
    height: 24px;
    width: 8px;
    margin-top: 56px;
    border-bottom: 1px solid #616161;
    border-collapse: collapse;
} 

.header-main__week{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: 70px;
    margin: 0;
    padding: 0;
    list-style-type: none; 
}

.header-main__week__day{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.header-main__week__day-name{
    text-align: center;
    text-transform: uppercase;
    color: brown;
    font-size: 18px; 
    font-weight: 900;
}

.header-main__week__day-date{
    color: black;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 46px; 
    font-size: 20px;
    font-weight: 700;
}

.time-hours{
    margin-top: 50px;
}

.time-hours__hour{
    width: 52px;
    height: 60px;
    text-align: center;
  
}

.lines{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;  
}

.lines__line{
    height: 60px;
    width: 8px;
    border: 1px solid #616161;
    border-left: none;
    border-bottom: none; 
}

.week{
    position: relative;
    width: 100%;
    display: flex; 
}

.week__day{
    position: relative;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #616161;
    flex-grow: 1;
}

.week__day__hour{
    border-top: 1px solid #616161;
    height: 60px; 
}