
.header {
    min-width: 980px;
    display: flex;
    min-height: 60px;
    padding: 0 48px;
    align-items: center;
    background-color: cornsilk;
    border: 1px solid gray;
   
}

.create-event-btn {
   position: relative;
    padding: 0 16px;
    margin-top: 10px;
    &__icon {
        margin-right: 10px;
    }
}

.navigation {
    &__today-btn {
        position: relative;
        margin-left: 50px;
        padding: 0 16px;
    }
    &__nav-icon {
        font-size: 16px;
        margin-left: 35px;
    }
    &__displayed-month {
        display: inline-block;
        margin-left: 50px;
        font-weight: 700;
        font-size: 40px;
        color: rgb(52, 11, 90);
        font-family: unset;
        text-shadow: 3px 5px 5px gray;
    }
}